<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/The_blue_cup/src/两数之和1/两数之和202103151044.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="两数之和1.两数之和202103151044"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="The_blue_cup"/>
</launchConfiguration>
