<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/The_blue_cup/冒泡排序/冒泡排序4/冒泡排序.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="冒泡排序4.冒泡排序"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="The_blue_cup"/>
</launchConfiguration>
